.balloon{
    width: 90%;
    z-index: 1;
    position: relative;
    display: block;
    translate: 5%;
}
.image{
    width: 5%;
    translate: 110% 50%;
    position: absolute;
    z-index: 2;
    display: block;
}
.procedure_bar{
    height: 10px;
    background-color: rgb(197, 148, 92);
    margin: 0 auto
}